{{!--<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="products">Home</a>
  </div>
</nav>
<div id="app">
    <h1 class="card-title"> Lista de Productos</h1>

<div id="productList">

    {{#each products}}
<div class="card" style="width: 18rem;" id="{{this._id}}">
    {{#each this.thumbnails}}
  <img src="{{this}}" class="card-img-top" alt="imagen producto">
  {{/each}}
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>

    <form id="addToCartForm {{this._id}}">
        <div>
            <p>${{this.price}}</p>
            <button type="submit"> Agregar al carrito</button>
        </div>
        <div>
            <input placeholder=" " type="text" name="cid" id="cid" required/>
            <label for="cid">ID de Carrito</label>

        </div>
        
    </form>
    <a href="product/{{this._id}}">
    <button "type="button" class="btn btn-secondary"">Ver producto</button>
    </a>
  </div>
</div>
    {{/each}}
</div>
    <div>
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Anterior</button></a>
    {{/if}}
    <p>{{page}}</p>

        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Siguiente</button></a>
    {{/if}}
    </div>
 
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
 <script src="/js/products.js"></script>
