<div id="productDetail">
    <h1>Detalle Producto</h1>
    <h5>{{product.title}}</h5>
    <p>{{product.description}}</p>
    <p>{{product.categoy}}</p>
    <p>${{product.price}}</p>
    <a id="{{product.id}}" onclick="addToCart(this.id)"><button class="btn btn-light">Agregar al Carrito</button></a>
</div>

<script src="/js/products.js"></script>